$blue: #87ceeb;

.tasks {
  height: 100%;
  .header {
    font-size: 20px;
    padding: 0 10px;
    background-color: $blue;
    text-align: center;
    font-weight: 700;
    display: grid;
    grid-template-columns: 40px 1fr 40px 100px;
    .id {
      text-align: left;
    }
  }
}
