$lightgray: #d3d3d3;
$white: #ffffff;
$blue: #87ceeb;

.sentences {
  display: grid;
  grid-template-rows: auto repeat(20, 1fr);
  height: 100%;
  .header {
    font-size: 20px;
    background-color: $blue;
    text-align: center;
    font-weight: 700;
    display: grid;
    grid-template-columns: 40px 1fr;
  }
  .row {
    padding: 5px 10px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 40px 1fr;
    &:nth-child(odd) {
      background-color: $lightgray;
    }
    &:nth-child(even) {
      background-color: $white;
    }
  }
}
