.add {
  display: grid;
  width: 600px;
  margin: 150px auto;
  font-size: 20px;
  grid-template-rows: 150px 50px;
  .textarea {
    font-size: inherit;
    resize: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}
