$red: #ff0000;

.complete {
  .button {
    font-size: inherit;
    background-color: $red;
    float: right;
    border-radius: 7px;
    cursor: pointer;
    &:hover {
      background-color: darken($red, 10%);
    }
  }
}
